main ul.all-articles li h2{
    color:red;
}

main ul.all-articles li h2:hover{
    color:rgb(0, 255, 34);
}

main ul.all-articles li img{
    width: 100%;
}

main ul.all-articles li img:hover{
    transform: rotate(180deg);
}

main ul.all-articles li p{
    text-transform: uppercase;
}


main ul.all-articles li p:hover{
    text-transform: lowercase;
}