//anything reusable such as buttons, navbars, cards etc.

.btn{
    @include button;
}

.btn-primary{
    @include button(rgb(119, 0, 199));
}
.btn-secondary{
    @include button(rgb(117, 117, 117));
}
.btn-danger{
    @include button(rgb(210, 0, 53));
}
.btn-warning{
    @include button(rgb(225, 168, 11));
}

.list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .product{
        border: $gray-border-thin;
        padding:$spacer;
        box-shadow: $bottom-shadow;
        border-radius: $spacer;
        background-color: $white;
        margin: $spacer;
        @extend .transition-scale;
        .buy-button{
            @include button(hsl(0, 60%, 60%));
        }
    }
}
