//anything reusable such as buttons, navbars, cards etc.

.btn{
    display: inline-block;
    padding: 1em 2em;
    background-color: $color-btn;
    border: $gray-border-thin;
    text-decoration: none;
    color:$black;
    border-radius: 5px;
    transition: $transition-site;
    &:hover{
        background-color: $color-btn-hover;
        color:$accent-color;
        border-color: $accent-color;
    }
}

.list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .product{
        border: $gray-border-thin;
        padding:$spacer;
        box-shadow: $bottom-shadow;
        border-radius: $spacer;
        background-color: $white;
        margin: $spacer;
        @extend .transition-scale;
        .buy-button{
            @extend .btn;
        }
    }
}

