//contains all the CSS that handles the layout, such as the container and any grid systems.
body{
    margin:0;
    font-family: 'Sora', sans-serif;
    color: $black;
}

header.site-header{
    nav{
        padding: $spacer;
        border-bottom: $gray-border-thin;
        z-index: 1000;
        position: fixed;
        width: calc(100% - ($spacer * 2));
        height: 65px;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: $bottom-shadow;
        @media #{$media-queries-navbar} {
            .toggle-navbar{
                display: none;
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 0px;
            position: fixed;
            top:60px;
            left:0;
            width: 100%;
            background-color: white;
            opacity: 0;
            padding:0;
            transition: $transition-site;
            &.open{
                height: 100%;
                opacity: 1;
            }
            
            @media #{$media-queries-navbar} {
                position: relative;
                flex-direction: row;
                top:0px;
                opacity: 1;
                justify-content: flex-end;
            }
            li{
                list-style: none;
                margin: $spacer;
                a{
                    text-decoration: none;
                    color: $black;
                    &:hover{
                        color:$red;
                    }
                }
                
            }
        }
    }
}

main{
    padding: $spacer;
    padding-top: 100px;
    background: radial-gradient(circle, rgb(198, 201, 206) 0%, rgba(23,137,255,0) 100%);
}


footer.site-footer{
    height: 50px;
    display: flex;
    justify-content: center;
}

h1{
    @extend .transition-scale;
}