@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400&display=swap");
.transition-scale, .list-products .product, h1 {
  transition: all 0.5s ease;
}
.transition-scale:hover, .list-products .product:hover, h1:hover {
  transform: rotate(2deg);
  cursor: pointer;
}

@keyframes lights {
  0% {
    color: hsl(230, 14%, 33%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), -1em -0.125em 0.5em hsla(40, 100%, 60%, 0), 1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  30% {
    color: hsl(231, 14%, 36%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), 0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  40% {
    color: hsl(240, 1%, 30%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 90%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  70% {
    color: hsl(228, 3%, 30%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), 0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  100% {
    color: hsl(231, 19%, 21%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), 1em -0.125em 0.5em hsla(40, 100%, 60%, 0), -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
.d-none {
  display: none;
}

@media screen and (min-width: 500px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-none {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
}

.d-block {
  display: block;
}

@media screen and (min-width: 500px) {
  .d-sm-block {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-block {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .d-xxl-block {
    display: block;
  }
}

.d-inline-block {
  display: inline-block;
}

@media screen and (min-width: 500px) {
  .d-sm-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
  .d-md-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 1400px) {
  .d-xxl-inline-block {
    display: inline-block;
  }
}

.d-flex {
  display: flex;
}

@media screen and (min-width: 500px) {
  .d-sm-flex {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .d-md-flex {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-flex {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-flex {
    display: flex;
  }
}

@media screen and (min-width: 1400px) {
  .d-xxl-flex {
    display: flex;
  }
}

.d-grid {
  display: grid;
}

@media screen and (min-width: 500px) {
  .d-sm-grid {
    display: grid;
  }
}

@media screen and (min-width: 700px) {
  .d-md-grid {
    display: grid;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-grid {
    display: grid;
  }
}

@media screen and (min-width: 1200px) {
  .d-xl-grid {
    display: grid;
  }
}

@media screen and (min-width: 1400px) {
  .d-xxl-grid {
    display: grid;
  }
}

.p-0 {
  padding: 0px;
}

.m-0 {
  margin: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

@media screen and (min-width: 500px) {
  .p-sm-0 {
    padding: 0px;
  }
}

.m-sm-0 {
  margin: 0px;
}

.p-t-sm-0 {
  padding-top: 0px;
}

.m-t-sm-0 {
  margin-top: 0px;
}

.p-b-sm-0 {
  padding-bottom: 0px;
}

.m-b-sm-0 {
  margin-bottom: 0px;
}

.p-r-sm-0 {
  padding-right: 0px;
}

.m-r-sm-0 {
  margin-right: 0px;
}

.p-l-sm-0 {
  padding-left: 0px;
}

.m-l-sm-0 {
  margin-left: 0px;
}

@media screen and (min-width: 700px) {
  .p-md-0 {
    padding: 0px;
  }
}

.m-md-0 {
  margin: 0px;
}

.p-t-md-0 {
  padding-top: 0px;
}

.m-t-md-0 {
  margin-top: 0px;
}

.p-b-md-0 {
  padding-bottom: 0px;
}

.m-b-md-0 {
  margin-bottom: 0px;
}

.p-r-md-0 {
  padding-right: 0px;
}

.m-r-md-0 {
  margin-right: 0px;
}

.p-l-md-0 {
  padding-left: 0px;
}

.m-l-md-0 {
  margin-left: 0px;
}

@media screen and (min-width: 900px) {
  .p-lg-0 {
    padding: 0px;
  }
}

.m-lg-0 {
  margin: 0px;
}

.p-t-lg-0 {
  padding-top: 0px;
}

.m-t-lg-0 {
  margin-top: 0px;
}

.p-b-lg-0 {
  padding-bottom: 0px;
}

.m-b-lg-0 {
  margin-bottom: 0px;
}

.p-r-lg-0 {
  padding-right: 0px;
}

.m-r-lg-0 {
  margin-right: 0px;
}

.p-l-lg-0 {
  padding-left: 0px;
}

.m-l-lg-0 {
  margin-left: 0px;
}

@media screen and (min-width: 1200px) {
  .p-xl-0 {
    padding: 0px;
  }
}

.m-xl-0 {
  margin: 0px;
}

.p-t-xl-0 {
  padding-top: 0px;
}

.m-t-xl-0 {
  margin-top: 0px;
}

.p-b-xl-0 {
  padding-bottom: 0px;
}

.m-b-xl-0 {
  margin-bottom: 0px;
}

.p-r-xl-0 {
  padding-right: 0px;
}

.m-r-xl-0 {
  margin-right: 0px;
}

.p-l-xl-0 {
  padding-left: 0px;
}

.m-l-xl-0 {
  margin-left: 0px;
}

@media screen and (min-width: 1400px) {
  .p-xxl-0 {
    padding: 0px;
  }
}

.m-xxl-0 {
  margin: 0px;
}

.p-t-xxl-0 {
  padding-top: 0px;
}

.m-t-xxl-0 {
  margin-top: 0px;
}

.p-b-xxl-0 {
  padding-bottom: 0px;
}

.m-b-xxl-0 {
  margin-bottom: 0px;
}

.p-r-xxl-0 {
  padding-right: 0px;
}

.m-r-xxl-0 {
  margin-right: 0px;
}

.p-l-xxl-0 {
  padding-left: 0px;
}

.m-l-xxl-0 {
  margin-left: 0px;
}

.p-1 {
  padding: 5px;
}

.m-1 {
  margin: 5px;
}

.p-t-1 {
  padding-top: 5px;
}

.p-b-1 {
  padding-bottom: 5px;
}

.p-r-1 {
  padding-right: 5px;
}

.p-l-1 {
  padding-left: 5px;
}

@media screen and (min-width: 500px) {
  .p-sm-1 {
    padding: 5px;
  }
}

.m-sm-1 {
  margin: 5px;
}

.p-t-sm-1 {
  padding-top: 5px;
}

.m-t-sm-1 {
  margin-top: 5px;
}

.p-b-sm-1 {
  padding-bottom: 5px;
}

.m-b-sm-1 {
  margin-bottom: 5px;
}

.p-r-sm-1 {
  padding-right: 5px;
}

.m-r-sm-1 {
  margin-right: 5px;
}

.p-l-sm-1 {
  padding-left: 5px;
}

.m-l-sm-1 {
  margin-left: 5px;
}

@media screen and (min-width: 700px) {
  .p-md-1 {
    padding: 5px;
  }
}

.m-md-1 {
  margin: 5px;
}

.p-t-md-1 {
  padding-top: 5px;
}

.m-t-md-1 {
  margin-top: 5px;
}

.p-b-md-1 {
  padding-bottom: 5px;
}

.m-b-md-1 {
  margin-bottom: 5px;
}

.p-r-md-1 {
  padding-right: 5px;
}

.m-r-md-1 {
  margin-right: 5px;
}

.p-l-md-1 {
  padding-left: 5px;
}

.m-l-md-1 {
  margin-left: 5px;
}

@media screen and (min-width: 900px) {
  .p-lg-1 {
    padding: 5px;
  }
}

.m-lg-1 {
  margin: 5px;
}

.p-t-lg-1 {
  padding-top: 5px;
}

.m-t-lg-1 {
  margin-top: 5px;
}

.p-b-lg-1 {
  padding-bottom: 5px;
}

.m-b-lg-1 {
  margin-bottom: 5px;
}

.p-r-lg-1 {
  padding-right: 5px;
}

.m-r-lg-1 {
  margin-right: 5px;
}

.p-l-lg-1 {
  padding-left: 5px;
}

.m-l-lg-1 {
  margin-left: 5px;
}

@media screen and (min-width: 1200px) {
  .p-xl-1 {
    padding: 5px;
  }
}

.m-xl-1 {
  margin: 5px;
}

.p-t-xl-1 {
  padding-top: 5px;
}

.m-t-xl-1 {
  margin-top: 5px;
}

.p-b-xl-1 {
  padding-bottom: 5px;
}

.m-b-xl-1 {
  margin-bottom: 5px;
}

.p-r-xl-1 {
  padding-right: 5px;
}

.m-r-xl-1 {
  margin-right: 5px;
}

.p-l-xl-1 {
  padding-left: 5px;
}

.m-l-xl-1 {
  margin-left: 5px;
}

@media screen and (min-width: 1400px) {
  .p-xxl-1 {
    padding: 5px;
  }
}

.m-xxl-1 {
  margin: 5px;
}

.p-t-xxl-1 {
  padding-top: 5px;
}

.m-t-xxl-1 {
  margin-top: 5px;
}

.p-b-xxl-1 {
  padding-bottom: 5px;
}

.m-b-xxl-1 {
  margin-bottom: 5px;
}

.p-r-xxl-1 {
  padding-right: 5px;
}

.m-r-xxl-1 {
  margin-right: 5px;
}

.p-l-xxl-1 {
  padding-left: 5px;
}

.m-l-xxl-1 {
  margin-left: 5px;
}

.p-2 {
  padding: 15px;
}

.m-2 {
  margin: 15px;
}

.p-t-2 {
  padding-top: 15px;
}

.p-b-2 {
  padding-bottom: 15px;
}

.p-r-2 {
  padding-right: 15px;
}

.p-l-2 {
  padding-left: 15px;
}

@media screen and (min-width: 500px) {
  .p-sm-2 {
    padding: 15px;
  }
}

.m-sm-2 {
  margin: 15px;
}

.p-t-sm-2 {
  padding-top: 15px;
}

.m-t-sm-2 {
  margin-top: 15px;
}

.p-b-sm-2 {
  padding-bottom: 15px;
}

.m-b-sm-2 {
  margin-bottom: 15px;
}

.p-r-sm-2 {
  padding-right: 15px;
}

.m-r-sm-2 {
  margin-right: 15px;
}

.p-l-sm-2 {
  padding-left: 15px;
}

.m-l-sm-2 {
  margin-left: 15px;
}

@media screen and (min-width: 700px) {
  .p-md-2 {
    padding: 15px;
  }
}

.m-md-2 {
  margin: 15px;
}

.p-t-md-2 {
  padding-top: 15px;
}

.m-t-md-2 {
  margin-top: 15px;
}

.p-b-md-2 {
  padding-bottom: 15px;
}

.m-b-md-2 {
  margin-bottom: 15px;
}

.p-r-md-2 {
  padding-right: 15px;
}

.m-r-md-2 {
  margin-right: 15px;
}

.p-l-md-2 {
  padding-left: 15px;
}

.m-l-md-2 {
  margin-left: 15px;
}

@media screen and (min-width: 900px) {
  .p-lg-2 {
    padding: 15px;
  }
}

.m-lg-2 {
  margin: 15px;
}

.p-t-lg-2 {
  padding-top: 15px;
}

.m-t-lg-2 {
  margin-top: 15px;
}

.p-b-lg-2 {
  padding-bottom: 15px;
}

.m-b-lg-2 {
  margin-bottom: 15px;
}

.p-r-lg-2 {
  padding-right: 15px;
}

.m-r-lg-2 {
  margin-right: 15px;
}

.p-l-lg-2 {
  padding-left: 15px;
}

.m-l-lg-2 {
  margin-left: 15px;
}

@media screen and (min-width: 1200px) {
  .p-xl-2 {
    padding: 15px;
  }
}

.m-xl-2 {
  margin: 15px;
}

.p-t-xl-2 {
  padding-top: 15px;
}

.m-t-xl-2 {
  margin-top: 15px;
}

.p-b-xl-2 {
  padding-bottom: 15px;
}

.m-b-xl-2 {
  margin-bottom: 15px;
}

.p-r-xl-2 {
  padding-right: 15px;
}

.m-r-xl-2 {
  margin-right: 15px;
}

.p-l-xl-2 {
  padding-left: 15px;
}

.m-l-xl-2 {
  margin-left: 15px;
}

@media screen and (min-width: 1400px) {
  .p-xxl-2 {
    padding: 15px;
  }
}

.m-xxl-2 {
  margin: 15px;
}

.p-t-xxl-2 {
  padding-top: 15px;
}

.m-t-xxl-2 {
  margin-top: 15px;
}

.p-b-xxl-2 {
  padding-bottom: 15px;
}

.m-b-xxl-2 {
  margin-bottom: 15px;
}

.p-r-xxl-2 {
  padding-right: 15px;
}

.m-r-xxl-2 {
  margin-right: 15px;
}

.p-l-xxl-2 {
  padding-left: 15px;
}

.m-l-xxl-2 {
  margin-left: 15px;
}

.p-3 {
  padding: 30px;
}

.m-3 {
  margin: 30px;
}

.p-t-3 {
  padding-top: 30px;
}

.p-b-3 {
  padding-bottom: 30px;
}

.p-r-3 {
  padding-right: 30px;
}

.p-l-3 {
  padding-left: 30px;
}

@media screen and (min-width: 500px) {
  .p-sm-3 {
    padding: 30px;
  }
}

.m-sm-3 {
  margin: 30px;
}

.p-t-sm-3 {
  padding-top: 30px;
}

.m-t-sm-3 {
  margin-top: 30px;
}

.p-b-sm-3 {
  padding-bottom: 30px;
}

.m-b-sm-3 {
  margin-bottom: 30px;
}

.p-r-sm-3 {
  padding-right: 30px;
}

.m-r-sm-3 {
  margin-right: 30px;
}

.p-l-sm-3 {
  padding-left: 30px;
}

.m-l-sm-3 {
  margin-left: 30px;
}

@media screen and (min-width: 700px) {
  .p-md-3 {
    padding: 30px;
  }
}

.m-md-3 {
  margin: 30px;
}

.p-t-md-3 {
  padding-top: 30px;
}

.m-t-md-3 {
  margin-top: 30px;
}

.p-b-md-3 {
  padding-bottom: 30px;
}

.m-b-md-3 {
  margin-bottom: 30px;
}

.p-r-md-3 {
  padding-right: 30px;
}

.m-r-md-3 {
  margin-right: 30px;
}

.p-l-md-3 {
  padding-left: 30px;
}

.m-l-md-3 {
  margin-left: 30px;
}

@media screen and (min-width: 900px) {
  .p-lg-3 {
    padding: 30px;
  }
}

.m-lg-3 {
  margin: 30px;
}

.p-t-lg-3 {
  padding-top: 30px;
}

.m-t-lg-3 {
  margin-top: 30px;
}

.p-b-lg-3 {
  padding-bottom: 30px;
}

.m-b-lg-3 {
  margin-bottom: 30px;
}

.p-r-lg-3 {
  padding-right: 30px;
}

.m-r-lg-3 {
  margin-right: 30px;
}

.p-l-lg-3 {
  padding-left: 30px;
}

.m-l-lg-3 {
  margin-left: 30px;
}

@media screen and (min-width: 1200px) {
  .p-xl-3 {
    padding: 30px;
  }
}

.m-xl-3 {
  margin: 30px;
}

.p-t-xl-3 {
  padding-top: 30px;
}

.m-t-xl-3 {
  margin-top: 30px;
}

.p-b-xl-3 {
  padding-bottom: 30px;
}

.m-b-xl-3 {
  margin-bottom: 30px;
}

.p-r-xl-3 {
  padding-right: 30px;
}

.m-r-xl-3 {
  margin-right: 30px;
}

.p-l-xl-3 {
  padding-left: 30px;
}

.m-l-xl-3 {
  margin-left: 30px;
}

@media screen and (min-width: 1400px) {
  .p-xxl-3 {
    padding: 30px;
  }
}

.m-xxl-3 {
  margin: 30px;
}

.p-t-xxl-3 {
  padding-top: 30px;
}

.m-t-xxl-3 {
  margin-top: 30px;
}

.p-b-xxl-3 {
  padding-bottom: 30px;
}

.m-b-xxl-3 {
  margin-bottom: 30px;
}

.p-r-xxl-3 {
  padding-right: 30px;
}

.m-r-xxl-3 {
  margin-right: 30px;
}

.p-l-xxl-3 {
  padding-left: 30px;
}

.m-l-xxl-3 {
  margin-left: 30px;
}

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  color: rgb(48, 48, 48);
}

header.site-header nav {
  padding: 15px;
  border-bottom: 1px solid gray;
  z-index: 1000;
  position: fixed;
  width: calc(100% - 30px);
  height: 65px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
@media screen and (min-width:750px) {
  header.site-header nav .toggle-navbar {
    display: none;
  }
}
header.site-header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 0px;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: 0;
  padding: 0;
  transition: all 0.5s ease;
}
header.site-header nav ul.open {
  height: 100%;
  opacity: 1;
}
@media screen and (min-width:750px) {
  header.site-header nav ul {
    position: relative;
    flex-direction: row;
    top: 0px;
    opacity: 1;
    justify-content: flex-end;
  }
}
header.site-header nav ul li {
  list-style: none;
  margin: 15px;
}
header.site-header nav ul li a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  transition: all 0.5s ease;
}
header.site-header nav ul li a:hover {
  color: rgb(67, 0, 190);
  animation: lights 5s linear infinite;
}

main {
  padding: 15px;
  padding-top: 100px;
  background: radial-gradient(circle, rgb(198, 201, 206) 0%, rgba(23, 137, 255, 0) 100%);
}

footer.site-footer {
  height: 50px;
  display: flex;
  justify-content: center;
}

h1:hover {
  color: rgb(67, 0, 190);
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #8f8f8f;
  text-decoration: none;
  background-color: rgb(194, 194, 194);
  color: rgb(48, 48, 48);
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: #8f8f8f;
  color: white;
}

.btn-primary {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #3a0061;
  text-decoration: none;
  background-color: rgb(119, 0, 199);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-primary:hover {
  background-color: #3a0061;
  color: white;
}

.bg-primary {
  background-color: rgb(119, 0, 199) !important;
}

.color-primary {
  color: rgb(119, 0, 199) !important;
}

.hover-color-primary:hover {
  color: rgb(119, 0, 199) !important;
}

.bg-text-primary {
  background-color: rgb(119, 0, 199) !important;
  color: white !important;
}

.btn-secondary {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #424242;
  text-decoration: none;
  background-color: rgb(117, 117, 117);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-secondary:hover {
  background-color: #424242;
  color: white;
}

.bg-secondary {
  background-color: rgb(117, 117, 117) !important;
}

.color-secondary {
  color: rgb(117, 117, 117) !important;
}

.hover-color-secondary:hover {
  color: rgb(117, 117, 117) !important;
}

.bg-text-secondary {
  background-color: rgb(117, 117, 117) !important;
  color: white !important;
}

.btn-danger {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #6c001b;
  text-decoration: none;
  background-color: rgb(210, 0, 53);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-danger:hover {
  background-color: #6c001b;
  color: white;
}

.bg-danger {
  background-color: rgb(210, 0, 53) !important;
}

.color-danger {
  color: rgb(210, 0, 53) !important;
}

.hover-color-danger:hover {
  color: rgb(210, 0, 53) !important;
}

.bg-text-danger {
  background-color: rgb(210, 0, 53) !important;
  color: white !important;
}

.btn-warning {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #985010;
  text-decoration: none;
  background-color: rgb(232, 129, 38);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-warning:hover {
  background-color: #985010;
  color: white;
}

.bg-warning {
  background-color: rgb(232, 129, 38) !important;
}

.color-warning {
  color: rgb(232, 129, 38) !important;
}

.hover-color-warning:hover {
  color: rgb(232, 129, 38) !important;
}

.bg-text-warning {
  background-color: rgb(232, 129, 38) !important;
  color: white !important;
}

.btn-info {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #15565b;
  text-decoration: none;
  background-color: rgb(40, 165, 174);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-info:hover {
  background-color: #15565b;
  color: white;
}

.bg-info {
  background-color: rgb(40, 165, 174) !important;
}

.color-info {
  color: rgb(40, 165, 174) !important;
}

.hover-color-info:hover {
  color: rgb(40, 165, 174) !important;
}

.bg-text-info {
  background-color: rgb(40, 165, 174) !important;
  color: white !important;
}

.btn-dark {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  background-color: rgb(48, 48, 48);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-dark:hover {
  background-color: black;
  color: white;
}

.bg-dark {
  background-color: rgb(48, 48, 48) !important;
}

.color-dark {
  color: rgb(48, 48, 48) !important;
}

.hover-color-dark:hover {
  color: rgb(48, 48, 48) !important;
}

.bg-text-dark {
  background-color: rgb(48, 48, 48) !important;
  color: white !important;
}

.btn-light {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #cccccc;
  text-decoration: none;
  background-color: white;
  color: rgb(48, 48, 48);
  border-radius: 5px;
  transition: all 0.5s ease;
}
.btn-light:hover {
  background-color: #cccccc;
  color: rgb(48, 48, 48);
}

.bg-light {
  background-color: white !important;
}

.color-light {
  color: white !important;
}

.hover-color-light:hover {
  color: white !important;
}

.bg-text-light {
  background-color: white !important;
  color: rgb(48, 48, 48) !important;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-products .product {
  border: 1px solid gray;
  padding: 15px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 15px;
  background-color: white;
  margin: 15px;
}
.list-products .product .buy-button {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid;
  border-color: #a32929;
  text-decoration: none;
  background-color: hsl(0, 60%, 60%);
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.list-products .product .buy-button:hover {
  background-color: #a32929;
  color: white;
}/*# sourceMappingURL=main.css.map */